@import "../../../node_modules/bootstrap/scss/bootstrap";
@import "./ldbtn.scss";
@import "./loading.scss";

// COLOR SYTEM
$primary-theme: #7B81FF;
$primary-theme-light: #e8e9ff;
$primary-theme-dark: #6029A8;
$secondary-theme: #FFBB7B;
$secondary-theme-light: #FCE3B1;
$secondary-theme-dark: #F9C784;
$secondary-dark-theme: #262867;
$error-red: #F24D4D;
$footer-color:#413f57;
$footer-text-color: rgb(183, 183, 192);
$footer-text-color-accent: rgb(230, 230, 230);

$light-grey: #F2F2F2;
$grey: #555C62;

$theme-colors: (
"primary-theme": $primary-theme,
"secondary-theme": $secondary-theme,
"secondary-dark-theme": $secondary-dark-theme
);

// import fonts
@import url('https://fonts.googleapis.com/css?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

.App {
	font-family: 'Inter', sans-serif;
	background-color: $footer-color;
	min-height: 100vh;
}

.app {
	background-color: white;
	padding-bottom: 3.75rem;
}

.bg-gray {
	background-color: $light-grey;
}

.bg-secondary-dark {
	background-color: $secondary-dark-theme;
	color: white;
}

.bg-secondary-yellow-dark {
	background-color: $secondary-theme-dark;
	color: black;
}

.hero-image {
	max-width: 35rem;
	max-height: 26.25rem;
}

.custom-vertical-center {
	display: flex;
	align-items: center;
}

.navbar-brand {
	color: $primary-theme !important;
	font-weight: bold;
	font-size: 2rem;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
}

.nav-item {
	font-size: 1rem;
}

.hero-header { 
	font-family: Raleway, sans-serif;
	font-weight: bold;
	font-size: 4.0625rem;
	line-height: 1.5;
}

.viewport-height-100 {
	height: 87vh;
}

.viewport-height-50 {
	height: 57vh;
}

.home-container-text {
	font-size: 1.25rem;
}

.navbar-grey {
	background-color: $light-grey;
}

.navbar-white {
	background-color: white;
	transition-duration: 1s;
	transition-timing-function: ease;
}

.text-grey{
	color: $grey;
}

.text-light-grey {
	color: $light-grey;
}

.text-black{
	color: black;
}

.hero-subtext{
	font-size: 1.6875rem;
}

.font-weight-medium {
	font-weight: 600;;
}

.svg-purple {
	filter: invert(49%) sepia(27%) saturate(2019%) hue-rotate(207deg) brightness(103%) contrast(103%);
}

.svg-white {
	filter: invert(100%) sepia(13%) saturate(7500%) hue-rotate(200deg) brightness(114%) contrast(114%);
}

.svg-grey{
	filter: invert(39%) sepia(8%) saturate(506%) hue-rotate(166deg) brightness(85%) contrast(90%);
}

.svg-light-grey{
	filter: invert(77%) sepia(1%) saturate(1697%) hue-rotate(202deg) brightness(98%) contrast(84%);
}

// Buttons
.btn-primary {
	color: white;
	background-color: $primary-theme;
	border-color: $primary-theme;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary:visited, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
	color: white; 
	background-color: #4B4F9A;
	border-color: #4B4F9A;
}

.btn-outline-primary {
	color: $primary-theme;
	background-color: inherit;
	border-color: $primary-theme;
}

.btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:active, .btn-outline-primary.active, .open>.dropdown-toggle.btn-outline-primary {
	color: white;
	background-color: $primary-theme;
	border-color: $primary-theme;
}

.btn-secondary {
	color: #000000;
	background-color: $secondary-theme;
	border-color: $secondary-theme;
}

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active, .btn-secondary:visited, .btn-secondary.active, .open>.dropdown-toggle.btn-secondary {
	color: #000000;
	background-color: #D79E68;
	border-color: #D79E68;
}

.btn-outline-secondary {
	border-color: $secondary-theme;
	color: #000000;
	background-color: white;
}

.btn-outline-secondary:hover, .btn-outline-secondary:focus, .btn-outline-secondary:active, .btn-outline-secondary:visited, .btn-outline-secondary.active, .open>.dropdown-toggle.btn-outline-secondary {
	color: #000000;
	background-color: $secondary-theme;
	border-color: $secondary-theme;
}

.footer-brand {
	filter: invert(45%) sepia(50%) saturate(1499%) hue-rotate(213deg) brightness(104%) contrast(101%);
	// outline-color: 
}

.footer-brand-logo{
	font-family: Raleway;
	color: $footer-text-color-accent;
	margin-top: .8rem;
	font-weight: bold;
	font-size: 2.25rem;
	line-height: 1.3525rem;
	text-align: left;
}

.custom-footer-color {
	padding-top: 2rem;
	background-color: $footer-color;
	color: $footer-text-color;
}

.list-social-icon {
	filter: invert(45%) sepia(50%) saturate(1499%) hue-rotate(213deg) brightness(104%) contrast(101%);
	width: 1.25rem;
	height: 1.25rem;
}

.footer-link {
	color: $footer-text-color;
}

.footer-link:hover {
	color: $footer-text-color-accent !important;
}

.footer-text-header{
	color: $footer-text-color-accent;
}
