@import "../../../node_modules/bootstrap/scss/bootstrap";
@import "./ldbtn.scss";
@import "./loading.scss";

// COLOR SYTEM
$primary-theme: #7b81ff;
$primary-theme-light: #e8e9ff;
$primary-theme-dark: #6029a8;
$secondary-theme: #ffbb7b;
$secondary-theme-light: #fce3b1;
$secondary-theme-dark: #f9c784;
$secondary-dark-theme: #262867;
$error-red: #f24d4d;
$footer-color: #413f57;
$footer-text-color: rgb(183, 183, 192);
$footer-text-color-accent: rgb(230, 230, 230);

$light-grey: #f2f2f2;
$grey: #555c62;

$theme-colors: (
"primary-theme": $primary-theme,
"secondary-theme": $secondary-theme,
"secondary-dark-theme": $secondary-dark-theme,
);

// import fonts
@import url("https://fonts.googleapis.com/css?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 36rem;

// Small tablets (portrait view)
$screen-md-min: 48rem;

// Tablets and small desktops
$screen-lg-min: 62rem;

// Large tablets and desktops
$screen-xl-min: 75rem;

// Small devices
@mixin sm {
	@media (min-width: #{$screen-sm-min}) {
		@content;
	}
}

// Medium devices
@mixin md {
	@media (min-width: #{$screen-md-min}) {
		@content;
	}
}

// Large devices
@mixin lg {
	@media (min-width: #{$screen-lg-min}) {
		@content;
	}
}

// Extra large devices
@mixin xl {
	@media (min-width: #{$screen-xl-min}) {
		@content;
	}
}

hr {
	border-color: white;
}

.App {
	font-family: "Inter", sans-serif;
	background-color: $footer-color;
	min-height: 100vh;
}

.app {
	background-color: white;
	// padding-bottom: 3.75rem;
}

.bg-gray {
	background-color: $light-grey;
}

.bg-secondary-dark {
	background-color: $secondary-dark-theme;
	color: white;
}

.bg-secondary-light {
	background-color: white;
	width: 100rem;
	height: 80%;
	color: white;
}

.bg-secondary-yellow-dark {
	background-color: $secondary-theme-dark;
	color: black;
}

.hero-image {
	max-width: 35rem;
	max-height: 26.25rem;
}

.custom-vertical-center {
	display: flex;
	align-items: center;
}

.negative-margin-top {
	margin-top: -4rem;
}

.margin-left{
	margin-left: 11.5em;
}

.align-center{
	align-items: center;
}


.navbar-brand {
	color: $primary-theme !important;
	font-weight: bold;
	font-size: 2rem;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
}

.nav-item {
	font-size: 1rem;
}

.hero-header {
	font-family: Raleway, sans-serif;
	font-weight: bold;
	font-size: 2rem;
	line-height: 1.2;
	// 992px window width and more
	@include md {
		font-size: 2.75rem;
	}
	@include lg {
		font-size: 4.125rem;
	}
}

.hero-header1 {
	font-family: Raleway, sans-serif;
	font-weight: bold;
	font-size: 4.4625rem;
	line-height: 1.2;
}

.hero-header2 {
	font-family: Raleway, sans-serif;
	font-weight: bold;
	font-size: 4.4625rem;
	line-height: 1.2;
	color: #f2f2f2;
	
}

.overlay-text {
	z-index: 100;
}

.viewport-height-120 {
	height: 120vh;
}

.viewport-height-100 {
	min-height: 100vh;
}

.viewport-height-50 {
	min-height: 60vh;
}

.home-container-text {
	font-size: 1.25rem;
	font-weight: 300;
}

.navbar-grey {
	background-color: $light-grey;
}

.navbar-white {
	background-color: white;
	transition-duration: 1s;
	transition-timing-function: ease;
}

.bordered-background {
	border: 0.7rem solid $primary-theme;

	@include md {
		border: 3rem solid $primary-theme;
	}
	@include lg {
		border: 4.375rem solid $primary-theme;
	}
}

.partial-background {
	position: absolute;
	min-width: #{"min(100vw, 31.25rem)"};
}


.right {
	right: 0;
}

.text-grey {
	color: $grey;
}

.text-purple{
	color: #7b81ff;
	font-size: 3em;
	font-weight: bold;
	align-self: center;
}

.text-purple1{
	color: #7b81ff;
	font-weight: bold;
	align-self: center;
	margin-top: 1em;
}


.text-light-grey {
	color: $light-grey;
}

.text-light-black {
	color: #000000;
	font-size: 1.8900rem;
	margin-bottom: 2rem;
}

.text-black {
	color: black;
}

.text-white {
	color: white;
}

.text-white-issue {
	color: white;
	font-size: 1.8775rem;
}

.hero-subtext {
	font-size: 1.375rem;
	@include lg {
		font-size: 1.6875rem;
	}
}

.font-weight-medium {
	font-weight: 600;
}

.miniborder-background{
	background-color: #262867;
}

.bordered-background {
	border: 4.375rem solid $primary-theme;
}

.bordered-background1 {
	border: 4.775rem solid #262867;
}

.bordered-background2 {
	border: 4.075rem solid white;
}

.svg-purple {
	filter: invert(49%) sepia(27%) saturate(2019%) hue-rotate(207deg)
	brightness(103%) contrast(103%);
}

.svg-white {
	filter: invert(100%) sepia(13%) saturate(7500%) hue-rotate(200deg)
	brightness(114%) contrast(114%);
}

.svg-grey {
	filter: invert(39%) sepia(8%) saturate(506%) hue-rotate(166deg)
	brightness(85%) contrast(90%);
}

.svg-light-grey {
	filter: invert(77%) sepia(1%) saturate(1697%) hue-rotate(202deg)
	brightness(98%) contrast(84%);
}

// Buttons
.btn-primary {
	color: white;
	background-color: $primary-theme;
	border-color: $primary-theme;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:visited,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
	color: white;
	background-color: #4b4f9a;
	border-color: #4b4f9a;
}

.btn-outline-primary {
	color: $primary-theme;
	background-color: inherit;
	border-color: $primary-theme;
}

.btn-outline-primary:hover,
.btn-outline-primary:focus,
.btn-outline-primary:active,
.btn-outline-primary.active,
.open > .dropdown-toggle.btn-outline-primary {
	color: white;
	background-color: $primary-theme;
	border-color: $primary-theme;
}

.btn-secondary {
	color: #000000;
	background-color: $secondary-theme;
	border-color: $secondary-theme;
}

.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active,
.btn-secondary:visited,
.btn-secondary.active,
.open > .dropdown-toggle.btn-secondary {
	color: #000000;
	background-color: #d79e68;
	border-color: #d79e68;
}

.btn-outline-secondary {
	border-color: $secondary-theme;
	color: #000000;
	background-color: white;
}

.btn-outline-secondary:hover,
.btn-outline-secondary:focus,
.btn-outline-secondary:active,
.btn-outline-secondary:visited,
.btn-outline-secondary.active,
.open > .dropdown-toggle.btn-outline-secondary {
	color: #000000;
	background-color: $secondary-theme;
	border-color: $secondary-theme;
}

.btn-outline-white {
	border-color: white;
	color: white;
}

.btn-outline-white:hover,
.btn-outline-white:focus,
.btn-outline-white:active,
.btn-outline-white:visited,
.btn-outline-white.active,
.open > .dropdown-toggle.btn-outline-white {
	color: $primary-theme;
	background-color: white;
	border-color: white;
}

.btn-outline-black {
	border-color: #000000;
	color: #000000;
}

.btn-outline-black:hover,
.btn-outline-black:focus,
.btn-outline-black:active,
.btn-outline-black:visited,
.btn-outline-black.active,
.open > .dropdown-toggle.btn-outline-black {
	color: $footer-color;
	background-color: white;
	border-color: white;
}

.footer-brand {
	filter: invert(45%) sepia(50%) saturate(1499%) hue-rotate(213deg)
	brightness(104%) contrast(101%);
	// outline-color:
}

.footer-brand-logo {
	font-family: Raleway;
	color: $footer-text-color-accent;
	margin-top: 0.8rem;
	font-weight: bold;
	font-size: 2.25rem;
	line-height: 1.3525rem;
	text-align: left;
}

.footer-keep {
	font-size: 1.1rem;
	font-weight: bold;
}

.custom-footer-color {
	padding-top: 2rem;
	background-color: $footer-color;
	color: $footer-text-color;
}

.list-social-icon {
	filter: invert(45%) sepia(50%) saturate(1499%) hue-rotate(213deg)
	brightness(104%) contrast(101%);
	width: 1.25rem;
	height: 1.25rem;
}

.footer-link {
	color: $footer-text-color;
}

.footer-link:hover {
	color: $footer-text-color-accent !important;
}

.footer-text-header {
	color: $footer-text-color-accent;
}

.story-card-img {
	max-width: 25rem;
}

.about-us-hero-img {
	background-image: url("../images/valuesHero.png");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.bg-contact-us-hero-img {
	background-image: url("../images/contactHero.png");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.bg-story-hero-img {
	background-image: url("../images/storyHero.png");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.bg-issue-home1-img {
	background-image: url("../images/home1.png");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.bg-about-us-bottom-img {
	background-image: url("../images/valuesBottom.png");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.alert-provider-custom div div {
	background-color: #f3f3f3 !important;
	color: #212529 !important;
	border-radius: 0.25rem !important;
	border-color: #b7b7c0 !important;
	border-style: solid !important;
	border-width: 0.125rem !important;
	min-width: 18.75rem !important;
	font-family: "Inter", sans-serif !important;
	font-size: 1rem !important;
	width: 33vw !important;
}

.alert-provider-custom div div button svg {
	filter: invert(47%) sepia(13%) saturate(298%) hue-rotate(166deg)
	brightness(93%) contrast(91%) !important;
	// fill: #6C757D !important;
}

.recaptcha-login-text {
	font-size: 0.875rem;
	line-height: 150%;
}

.form-purple {
	border: 0.0625rem solid $primary-theme;
	border-radius: 0.35rem;
}

.grecaptcha-badge {
	visibility: hidden;
}

.bg-issue-stat-img {
	background-image: url("../images/homeStat.png");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}


.bg-issue-stat2-img {
	background-image: url("../images/homeStat2.png");
	background-position: center;
	background-size: 100% 130%;
	background-repeat: no-repeat;
}

.bg-issue-bg-img {
	background-image: url("../images/issuebg.png");
	background-position: center;
	width: 100%;
	height: 95%;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.bg-issue-bgseclast-img {
	background-image: url("../images/secondlast.png");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

